function Fox.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 33
call String.new 1
push constant 78
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
pop this 0
push constant 7
call String.new 1
push constant 35
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
pop this 1
push constant 1
pop this 2
push pointer 0
return
function Fox.say 0
push argument 0
pop pointer 0
push this 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
function Fox.hello 0
push constant 9
call String.new 1
push constant 73
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 120
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
