function Main.main 1
push argument 0
push constant 3
lt
not
if-goto LABEL_0
push constant 20
call String.new 1
push constant 85
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 110
call String.appendChar 2
call Output.printf 1
pop temp 0
push constant 1
return
goto LABEL_1
label LABEL_0
label LABEL_1
push constant 9
call String.new 1
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 1
call String.new 1
push constant 119
call String.appendChar 2
call File.open 2
pop local 0
push local 0
push constant 12
call String.new 1
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 37
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 110
call String.appendChar 2
push argument 1
push constant 2
pop pointer 1
push that 0
call File.printf 3
pop temp 0
push local 0
call File.close 1
pop temp 0
push constant 0
return
