function Main.main 1
call Main.build 0
pop local 0
push constant 4
call String.new 1
push constant 37
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 110
call String.appendChar 2
push local 0
call Array.to_s 1
call Output.printf 2
pop temp 0
push local 0
call Array.sort 1
pop temp 0
push constant 4
call String.new 1
push constant 37
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 92
call String.appendChar 2
push constant 110
call String.appendChar 2
push local 0
call Array.to_s 1
call Output.printf 2
pop temp 0
push constant 0
return
function Main.sort 4
push constant 0
pop local 0
push constant 1000
pop local 2
label LABEL_0
push local 0
not
not
if-goto LABEL_1
push constant 1
neg
pop local 0
push constant 0
pop local 1
label LABEL_2
push local 1
push local 2
push constant 1
sub
lt
not
if-goto LABEL_3
push argument 0
push local 1
pop pointer 1
push that 0
push argument 0
push local 1
push constant 1
add
pop pointer 1
push that 0
gt
not
if-goto LABEL_4
push argument 0
push local 1
push constant 1
add
pop pointer 1
push that 0
pop local 3
push local 1
push constant 1
add
push argument 0
push argument 0
push local 1
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push argument 0
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 0
goto LABEL_5
label LABEL_4
label LABEL_5
push local 1
push constant 1
add
pop local 1
goto LABEL_2
label LABEL_3
goto LABEL_0
label LABEL_1
push constant 0
return
function Main.build 4
push constant 1000
pop local 3
push local 3
call Array.new 1
pop local 0
push constant 0
pop local 1
push local 3
pop local 2
label LABEL_6
push local 1
push local 3
lt
not
if-goto LABEL_7
push local 1
push local 0
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
push local 1
push constant 1
add
pop local 1
goto LABEL_6
label LABEL_7
push local 0
return
